body{
    margin: 0;
    padding: 10px;
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

nav{
    background-color:rgba(0, 180, 180, 0.233);
    width: 100wh;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    margin-bottom : 10px;
    
}
.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover{
    border-bottom: solid;
}
.banner  img {
    width: 100%;
    border-radius: 20px;
}
.whereabouts{
   width: 1024px;
}
h1{
    font-size: 80px;
    margin-bottom: 0px;
    font-style: arial;    
}
p{
    font-size: 20px;
}

.cards{
   background-color:rgba(0, 180, 180, 0.233);
   border-radius: 5px;
   height: 600px;
   display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
   
   
}

.card2{
    background-color: yellow;
    height: 600px;
    width: 350px;
    margin-left:10px;
    border-radius: 5px; 
}

.cards img{
    height: 600px;
    width: 350px;
    border-radius: 5px;
}

.box2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 5px;
    margin-bottom: 50px;
}
.whereabouts2 {
      width: 650px;
}
.btn{
    display: flex ;
    justify-content: end;
    padding-right: 100px;
}
.footercontainer{
    padding-bottom: 30px;
     background-color:red;
     display: flex;
     justify-content: space-evenly;
     
 }
 
 .footercolumn h3{
 
     flex-direction: column;
 }
 
 .footercolumn a{
     
     margin-left: 2px;
     display: grid;
     text-decoration: none;
     color: black;
     margin-bottom: 10px;
 }
 
 