body{
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    tex

}

nav{
    background-color: #E10600;
    width: 100wh;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    margin-bottom : 10px;
    
}
.navbar a {
    text-decoration: none;
    margin-left: 20px;
    background-color:transparent;

}
.banner  img {
    width: 100%;
    border-radius: 20px;
}
.whereabouts{
   width: 850px;
}
h1{
    font-size: 80px;
    margin-bottom: 0px;
    
}
p{
    font-size: 20px;
}

.cards{
   background-color:azure;
   border-radius: 5px;
   height: 600px;
   display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
   
   
}
.card1{
    background-color: yellow;
    height: 600px;
    width: 460px;
    margin-left: 10px;
    border-radius: 5px;
   
}
.card2{
    background-color: yellow;
    height: 600px;
    width: 350px;
    margin-left:10px;
    border-radius: 5px;
    
    
}
.card3{
    background-color: yellow;
    height: 600px;
    width: 350px;
    margin-left: 10px;
    border-radius: 5px;
}
.card4{
    background-color: yellow;
    height: 600px;
    width: 350px;
    margin-left: 10px;
    border-radius: 5px;
}
.cards img{
    height: 600px;
    width: 350px;
}
.card1 img{
    width: 460px;
}