body{
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    tex

}
nav{
    background-color: #E10600;
    width: 100wh;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items : center;
    margin-bottom : 10px;
    
    
    
}
.navbar a {
    text-decoration: none;
    margin-left: 20px;
    background-color:transparent;

}
.banner  img {
    width: 100%;
    border-radius: 20px;
    
}